:root {
		--bg-color: #FFFAF0 /*Floral White*/;
		--main-color: #13293D /*Prussian Blue*/;
		--second-color: #247BA0 /*CG Blue*/;
		--accent-color: #629365 /*Russian Green*/;
		--light-text: #FFFAF0 /*Floral White*/;
		--dark-text: #000000 /*Black*/;
}

body {
		background-color: var(--bg-color);
		font-family: gill sans, sans-serif;
}

header h1 {
		color: var(--main-color);
}

nav ul {
		display: flex;
		list-style: none;
		justify-content: flex-end;
		background-color: var(--second-color);
		position: sticky;
}

.dropdown {
		position: relative;
}

.dropdown ul {
		display: none;
		padding-left: 0px;
		position: absolute;
		left: 0rem;
		box-shadow: 0px 8px 10px 1px rgba(0,0,0,0.2);
}

.dropdown ul li a {
		background-color: var(--main-color);
}

.dropdown:hover ul {
		display: block;
}

li a { 
	color: var(--light-text);
	text-decoration: none;
	display: block;
	background-color: var(--second-color);
	padding: 0.5rem 2rem;
}

main {
		display: flex;
}

main section {
		flex: 4;
}

aside {
		flex: 1;
}

